<a href="https://colab.research.google.com/github/rmpbastos/data_science/blob/master/Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Churn Prediction

## Predicting churn



---

In [1]:
# Import packages
import pandas as pd

# Import data
DATA_PATH = "https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(DATA_PATH)

# Show 5 first rows
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

Exploratory Analysis

*   data type .info()
*   determine types of features (categorical, numerical)
*   plot churn rate by features (gender, partner, phone service, internet service etc)
*   do the same for the numerical features
*   check correlation

Data preparation

*   exclude uninportant features
*   deal with missing data
*   deal with outliers
*   feature engineering: label encoder for binary, get dummies for categorical with multiple values
*   feature scaling: standardization, normalization

Machine Learning model

*   determine best feature for each algorithm
*   cross-validation
*   ensamble
*   determine best model